@import "../omarchy/current/theme/waybar.css";



* {
  /*background: transparent;*/
  /*color: @foreground:*/
  border: none;
  /* border-radius: 8px; */
  font-family: 'CaskaydiaMono Nerd Font Propo';
  font-size: 12px;
  min-height: 0;
}

tooltip {
  opacity: 1;
 }

#waybar > box {
  margin: 1px;
}

window#waybar {
  background-color: @background;
  color: @foreground;
  border: 2px solid alpha(@foreground, 0.5);
  border-radius: 4px;
}


window#waybar.empty #window.label {
  background: transparent;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: transparent;
  padding: 0;
  margin: 0;
 }

#window {
  margin: 0px;
  padding: 0;
  color: @foreground;
}

.modules-left {
  margin-left: 0px;
  margin: 0;
  padding: 1px 0px 1px;
  border-radius: 2px;
  background-color: alpha(@foreground, 0.3);
  border: 1px solid alpha(@foreground, 0.4);
}

.modules-left label {
  margin: 0;
  padding: 0 4px;
  background: @background;
  border-radius: 2px;
  border: 1px solid alpha(@foreground, 0.6);
  opacity: 0.95;
}


.modules-right {
  margin-right: 8px;
  margin: 0;
  padding: 1px 0 1px;
  opacity: 0.95;
  border-radius: 2px;
  background-color: alpha(@foreground, 0.3);
  border: 1px solid alpha(@foreground, 0.4);
  color: alpha(@foreground, 0.9)
}

.modules-right label {
  margin: 0px;
  padding: 0 4px;
  background: @background;
  border-radius: 2px;
  border: 1px solid alpha(@foreground, 0.6);
  opacity: 0.95;
}

.modules-center {
  margin: 1px 2px;
  padding: 1px 0 1px;
}

#custom-omarchy {
  font-size: 12px;
  padding: 0 4px;
}

#workspaces {
    margin: 0;
    padding: 1px 2px 1px;
    border-radius: 2px;
    background-color: alpha(@foreground, 0.3);
    border: 1px solid alpha(@foreground, 0.4);
    opacity: 0.95;
}

#workspaces button {
    padding: 0px 5px;
    margin: 1px 2px;
    border-radius: 2px;
    background-color: alpha(@foreground, 1);
    color: @foreground;
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
    font-size: 8px;
}

#workspaces button.active {
    color: @foreground;
    background-color: @background;
    border-radius: 2px;
    min-width: 18px;
    opacity: 1.0;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: @foreground;
    background: @background;
    border-radius: 2px;
    min-width: 30px;
    opacity: 0.9;
}


#workspaces button.empty {
  opacity: 0.2;
}

#tray,
#cpu,
#memory,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#backlight,
#clock,
#custom-updatespacman,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 1px;
}

#custom-expand-icon {
  margin-right: 0px;
}

tooltip {
  padding: 0.5px;
}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

#custom-updatespacman {
  margin-right: 0px;
}

#custom-screenrecording-indicator {
    font-size: 12px;
    min-width: 16px;
    margin-left: 0px;
    padding: 0px;
    margin: 0px;
}

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}

#tray-expander {
  margin-left: 2px;

}

tooltip {
    padding: 4px;
    background: @background;
    font-size: 12px;
    border: 2px solid alpha(@foreground, 0.64);
    box-shadow: 1px 1px 3px 1px alpha(@foreground, 0.1);
    border-radius: 8px;
}
tooltip label {
    color: @foreground;
}
